[Desktop Entry]
Encoding=UTF-8
Name=Deliverycoin
Comment=Deliverycoin P2P Cryptocurrency
Exec=deliverycoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/deliverycoin;
Categories=Office;Finance;
Name[en_US]=deliverycoin-qt.desktop
